.homepage{
    display: flex;
    flex-direction: column;
}
.homepage-nav-bar {
    background-color: #54BAB9;
    padding-top: 15px;
}

.home-page-logo {
    margin: 0;
    color: #576072;
    padding: 0 30px;
    font-size: 40px;
    font-style: italic;

}
.search-bar{
    display: flex;
    justify-content: center;
}




